@font-face
{
    font-family: 'Bebas Neue';
    src: url('polices/BebasNeue-Regular.eot');
    src: url('polices/BebasNeue-Regular.woff') format('woff'),
         url('polices/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
 
  margin: 0;
  height: 100%;
  width: 100%;

}

#app {
    background: #f3f3f3;
    font-family: Arial sans-serif;
    margin: auto;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
   

   
   
  }

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
   
  }

  h1{
    font-family: 'Bebas Neue', sans-serif;
  }

  .btnOrange{
    background-color: #B74803;
    border-radius: 30px;
    font-family: 'Bebas Neue';
    text-transform: uppercase;
    color: white;
    font-size: 24px;
    border: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.inputFiltre{
  background-color: #A3B4C859;
  border-radius: 10px;
  border: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.filtreTab{
  background-color: #A3B4C859;
  border-radius: 10px;
  border: 0px;
}